<center>
    <div class="card container-sm m-5" style="width: 25vw;">
      <h1 class="card-title" style="color: red;">FAILURE PAYMENT</h1>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"><span style="font-weight: bold;">Payment
              Id:
            </span>{{data.payment_id}}</li>
          <li class="list-group-item"><span
              style="font-weight: bold;"
            >Preference Id: </span>{{data.preference_id}}</li>
          <li class="list-group-item"><span style="font-weight: bold;">Payment
              Type:
            </span>{{data.payment_type}}</li>
          <li class="list-group-item"><span style="font-weight: bold;">Order Id:
            </span>{{data.merchant_order_id}}</li>
          <li class="list-group-item"><span style="font-weight: bold;">Status:
            </span>{{data.status}}</li>
        </ul>
      </div>
    </div>
</center>